h1{
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 20px;

}
button{
    border: none;
    padding-top: 10px;
    padding-bottom:10px;
    color:rgb(253, 253, 253);
    font-weight: bold;
    width:200px;
    border-radius: 5px;

}
#increment-btn{
    background-color:darkred ;
}
#save-btn{
    background-color: darkgreen;
}